:root {
    --dark: #2f2e2e;
    --light: #fafafa;
    --accent: #254d4d;
    --accent-light: rgb(37, 77, 77, 0.2);

}

@keyframes slide {
    from {
        transform: translateX(-120%);
    }

    to {
        transform: translateX(0);
    }
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: 'Playfair Black';
    color: var(--dark);
    font-size: 51px;
    font-weight: 900;
}

h3 {
    font-family: 'Playfair Black';
    color: var(--dark);
    font-weight: 900;
}

a {
    color: var(--dark);
    text-decoration: none;
}


ul {
    list-style: none;
    padding: 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.logo {
    font-family: 'Barlow';
    font-size: 42px;
}


/* Navbar */

.navbar__inner {
    padding-top: 3.3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

.navbar__logo {
    margin-left: -5px;
    color: var(--dark);
}

.navbar__logo>a:hover {
    filter: drop-shadow(1px 1px 10px rgba(74, 82, 82, 0.6));
}

.navbar__menu_desktop {
    width: 54.5%;
    padding-top: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu_link {
    margin-right: 16%;
}

.menu_link:nth-child(4) {
    margin-right: 9%;
}

.menu_link:last-child {
    margin-right: 0;
}

.menu_link>a {
    font-family: 'Inter';
    font-size: 20px;
}

.menu_link>a:hover {
    font-weight: 700;
    filter: drop-shadow(2px 2px 2px rgba(37, 77, 77, 1));
}

.sidenav-trigger {
    display: none;
}

/* Header */

.header {
    max-width: 1440px;
    max-height: 739px;
    margin: 6.3vw auto 0;
    height: 51vw;
    background-image: url(../img/main-background.webp);
    background-repeat: no-repeat;
    background-position: 100% 0;
    display: flex;
}

.header__content {
    margin-top: 6.4%;
    max-width: 691px;
    max-height: 550px;
    width: 48vw;
    height: 38.3vw;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
    animation: slide 0.9s ease;
}

.header__title {
    margin-bottom: 8px;
}

.header__text {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 32px;
    letter-spacing: -0.4px;
    line-height: 43px;
}

/* Our Services */

.services {
    margin: 0 auto;
    max-width: 1440px;
    min-height: 384px;
    background-color: var(--accent-light);
    padding-top: 19px;
}

.serices__header {
    text-align: center;
}

.services__inner {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 77px;
}

.services__item {
    text-align: center;
}

.services__item_image {
    margin: 0 auto;
    width: 103px;
    height: 103px;
    background-color: var(--accent);
    border-radius: 50%;
}

.services__item_image>img {
    display: block;
    margin: auto auto;
    width: 55%;
    height: 100%;
}

.services__item_title {
    font-size: 24px;
}

.services__itm_text {
    font-family: 'Playfair Regular';
    font-size: 16px;
    margin-top: 7px;
}

/* About Us */

.about__inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-height: 51vw;
    max-width: 100%;
    margin-top: 6.4%;
}

.about__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 456px;
    margin-right: -36px;
}

.about__header {
    margin-bottom: 5.5%;
}

.about__text {
    font-family: 'Playfair Regular';
    font-size: 31px;
    margin-bottom: 6.5%;
    line-height: 1.62em;
}

.about__more {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10%;
}

.about__more:hover {
    filter: drop-shadow(1px 1px 5px rgba(37, 77, 77, 0.8));
}

.about__image {
    max-width: 60%;
}

.about__image>img {
    height: 100%;
    width: 100%;
}

/* Our projects */

.projects__header {
    margin-top: 7.4%;
}

.projects__grid {
    max-width: 95vw;
    margin-top: 5.7%;
    margin-bottom: 5.7%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8.4%;
    row-gap: 17%;
}

.projects__item {
    text-align: center;
}

.projects__item_image {
    margin-bottom: 8px;
}

.projects__item_image img {
    width: 23.9vw;
    max-width: 100%;
}

.projects__item>p {
    font-size: 18px;
    letter-spacing: -0.4px;
}

.materialboxed {
    display: block;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    position: relative;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    -webkit-backface-visibility: hidden;
}

.materialboxed:hover:not(.active) {
    opacity: .8;
}

.materialboxed.active {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
    pointer-events: none;
}

/* Testimonial */

.testimonial__header {
    margin-top: 14%;
    text-align: center;
}

.testimonial__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testimonial__item_wrapper {
    margin-top: 6.3%;
    width: 46%;
}

.testimonial__item {
    display: flex;
    flex-direction: row;
}



.testimonial__item_text {
    padding-left: 4.5%;
    padding-top: 2%;
}

.item__name {
    font-size: 28px;
    letter-spacing: -0.3px;
    margin-bottom: 4.5%;
}

.item__description>p {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.05px;
}

/* Footer */

.footer {
    margin-top: 10.1%;
    background-color: var(--dark);
}

.footer__inner {
    padding: 3.9% 0;
    color: var(--light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__info {
    width: 34%;
}


.footer__info_text {
    font-family: 'Inter';
    font-size: 17px;
    line-height: 29px;
    margin-top: 5px;
}

.footer__info_text {
    width: 67%;
}

.footer__socials {
    font-size: 26px;
    margin-left: -6px;
    margin-top: 42px;
    letter-spacing: 18px;
}

.footer__socials>a {
    color: var(--light);
}

.footer__socials>a:hover {
    filter: drop-shadow(0 0 5px rgba(37, 77, 77, 1));
    color: #d0cdcd;
}

.footer__header {
    margin-top: 8px;
    font-family: 'Inter';
    color: var(--light);
    font-weight: 900;
    font-size: 24px;

}

.footer__articles_list {
    font-family: 'Inter';
    font-size: 17px;
    line-height: 29px;
    width: 14vw;
    margin-top: 15px;
}

.footer__articles_list>li {
    margin-top: 5px;
}

.footer__map {
    margin-top: 20px;
}